<div class="row">
    <div class="row text-center m-1 p-5">
        <h3>Add a New Subscription</h3>
        <form class="form new-subscription">
            <div class="forms">
                <label for="subscription-name">Name:</label>
                <input class="form-input" type="text" id="subscription-name" name="subscription-name" />
            </div>
            <div class="forms">
                <label for="subscription-price">Price:</label>
                <input class="form-input" id="subscription-price" name="subscription-price"></input>
            </div>
            <div class="forms">
                <button type="submit" class="btn btn-primary" id="new-subscription-button">Add New Subscription!</button>
            </div>
        </form>
    </div>

    {{#each subscriptions}}
    <div class="row text-center m-0 p-1">
      <h2>{{subscription_name}}</h2>
      <p>{{price}}</p>
      <p>
        <button id="deleteBtn" class="btn btn-primary"data-id="{{id}}">Delete Subcription</button>
      </p>
    </div>
    {{/each}}

<script src="/js/subscription.js"></script>