<div class="row text-center">
  <h2>{{subscription_name}}</h2>
  <p>{{price}}</p>
{{!-- placeholder for renewal date using special npm package --}}
  <p>
    <button class="btn btn-primary">Update Subscription Price</button>
  </p>
  <p>
    <button class="btn btn-primary">Delete Subcription</button>
  </p>
</div>